{% extends 'base.html' %}

{% block content %}
  <h1>Fire</h1>
    {% for post in posts %}
      <div class="row">
        <div class="col-md-12" style="padding: 1em 1em 1em 1em;">
          <div class="card">
            <img src="{{ MEDIA_URL }}{{ post.image }}" class="card-img-top" width="100%"/>
            <div class="card-body">
              <h5 class="card-title">{{ post.username }}</h5>
              <p class="card-text">{{ post.caption }}</p>
              <p class="card-date">{{ post.upload_time }}</p>
              <a href="/post?post_id={{ post.id }}" class="btn btn-primary">View Post</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}